<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>webMOBI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
				<key>dateExpires</key>
				<string>18/10/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BBBadgeBarButtonItem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BRYXBanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FontAwesome_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OpalImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PageMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QRCode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9284745C89496202496316C7E2B544F2A3A0F7AD</string>
						<key>dateExpires</key>
						<string>18/10/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LZDTJ29HK4</string>
						<key>name</key>
						<string>WebMobi, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LZDTJ29HK4.com.webmobi.WebmobiEvents</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LZDTJ29HK4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>webMOBI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>be5aaece-a823-490f-b7ad-61cfc2641ff8</string>
				<key>name</key>
				<string>webMOBI_Adhoc1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LZDTJ29HK4</string>
				<key>name</key>
				<string>WebMobi, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
