<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>webMOBI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74165E1F1EC97E3B0028D0A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74165E361EC97E3B0028D0A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74165E411EC97E3B0028D0A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
